<canvas>
  <background></background>
  <cactus></cactus>
</canvas>

<canvas>
  <cat
    #cat
    [x]="startUnitX"
    [y]="startUnitY"
    [speed]="unitSpeed"
    [size]="unitSize"
    [spriteIndex]="catSpriteIndex"
    [revert]="revert"
    [rightPressed]="rightPressed"
    [leftPressed]="leftPressed"
    [downPressed]="downPressed"
    (x)="updateUnitX($event)"
  ></cat>
</canvas>

<canvas>
  <angular-logo
    [x]="250"
    [step]="4"
    [attr.unitX]="unitX"
    [attr.unitY]="startUnitY"
    (failed)="failed()"
    (success)="success()"
  ></angular-logo>
</canvas>

<div class="results">
  Score: {{score}}
</div>
